*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: sans-serif;
    transition: 0.5s ease;
}
html{
    scroll-behavior: smooth;
}
button:hover{
    cursor: pointer;
}

:root{
    --blue:#3E6792;
    --black: #0F0F0F;
    --green:#61ce70;
}

/* Navbar Section */
.header{
    padding:1.1em 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header img{
    width: 10%;
}
.header nav{
    display: flex;
    justify-content: space-between;
    width: 78%;
    font-size: 1.3em;
}
.header nav p{
    display: inline-block;
    font-size: 1.04em;
}
#menu-btn{
    display: none;
}
#menu-btn:hover{
    cursor: pointer;
}

/* Welcome Section */
.banner{
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('./images/banners/banner1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 83vh;
    position: relative;
    z-index: 1;
    filter: grayscale(0.3);
}
.welcome-content{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-45%);
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto 6vw;
    align-items:start;
    z-index: 2;
}
.heading-container{
    font-size: 1.4vw;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 2px;
}
.heading-container h1,.heading-container p{
    color: white;
}
.heading-container h1{
    margin-bottom: 0.25em;
}
.heading-container h3{
    color: rgb(220, 220, 4);
}
.heading-container p{
    margin-top: -.3em;
    line-height: 2;
}
.wel-props{
    background-color: rgba(164, 172, 5, 0.55);
    font-weight: normal;
    font-size: 80%;
    line-height: 1.5;
    margin: 0.8em 0;
}
.wel-props p{
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid white;
}
.wel-props p:nth-of-type(3){
    border-bottom: none;
}
.welcome-container{
    display: flex;
    margin: 0.8em 0;
    justify-content: space-between;
    align-items: center;
    gap:0.8em
}
.payment-plan,.call{
    background-color:rgba(0, 0, 0, 0.55);
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    flex: 1;
}
.payment-plan h5,.call h5{
    width: 100%;
    color: white;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.5em;
    font-weight: 600;
}
.payment-plan p,.call p{
    padding-top: 0.4em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    color:#21abf5;
}
.form-container{
    width: 35%;
    margin-top: 2.5em;
}
.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-container input,.form-container button{
    width: 80%;
    margin-bottom: 1.5em;
    padding: 0.55em;
    font-size: 1.15vw;
    border-radius: 6px;
}
.form-container input::placeholder{
    color: black;
}
.form-container button{
    border-radius: 8px;
    background-color:#27ac39bb;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.form-container h2{
    margin: 1em 0;
    margin-top: 0;
    color: rgb(220, 220, 4);
    text-align: center;
}

/* Form Popup Section */
.form-popup{
    position: fixed;
    z-index: 10;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.form-popup .form-content{
    width: 50%;
    background-color: white;
    margin: 6em auto;
    padding: 0.5em;
    border-radius: 5px;
}
.form-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.form-content img{
    width: 95%;
    height: 65vh;
    object-fit: cover;
    filter: grayscale(0.5);
}
.form-heading{
    line-height: 2.3em;
}
.form-heading form{
    margin: 2em 0;
}
.form-heading form input{
    display: block;
    border:1px solid black;
    padding: 0.5em;
    font-size: 1.24vw;
    width: 95%;
    margin: 0.8em 0;
    border-radius: 5px;
}
.form-heading p{
    color: rgb(1, 1, 110);
    font-weight: bold;
    font-size: 1.5vw;
}
.form-heading h2{
    color: rgba(158, 12, 12, 0.95);
}
.form-heading form button{
    width: 95%;
    background-color: rgb(5, 121, 142);
    background-color: #017701;
    padding: 0.5em;
    font-size: 1.24vw;
    color: white;
    border-radius: 5px;
}
.form-heading form input::placeholder{
    color: black;
}
.close-modal{
    display: block;
    text-align: end;
    margin: 0.4em 0.3em;
    font-size: 2.5em;
}
.close-modal:hover{
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}   
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.form-popup{
    display: none;
}

/* Overview Section */
.overview-container{
    max-width: 1300px;
    margin: 3em auto;
    padding: 0 3em;
    text-align: center;
}
.overview-container .overview-wrap{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.overview-container img{
    width: 500px;
}
.overview-wrap .overview-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 2;
    text-align: justify;
    font-size: 1.1em;
}
.overview-container .heading-section{
    display: inline-block;
    background-color: #0F0F0F;
    border-radius: 8px;
    margin-bottom: 4%;
    padding: 2% 8%;
    box-shadow: 5px 10px 10px rgb(125, 125, 125);
}
.overview-container .heading-section h1{
    color: #61ce70 ;
}

/*Price Section*/

.price_container{
    display: flex;
    flex-wrap: wrap;
    margin: 3em auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}
.price_container h1{
    display: inline-block;
    background-color: var(--green);
    border-radius: 8px;
    margin-bottom: 2%;
    padding: 2% 8%;
    box-shadow: 5px 10px 10px rgb(125, 125, 125);
    color: var(--black);

}
.price_items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.price_item{
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    padding: 1rem;
    margin: 1.5em;
}
.price_higher{
    display: flex;
    flex-direction: column;
    /*border: 1px solid blue;*/
    padding: 1rem;
    align-items: center;
    margin-bottom: 1em;
    border-radius: 25px;
    background-color: var(--black);
    box-shadow: .1em .1em .9em 3px rgba(0,0,0,0.3);
}
.price_higher p{
    margin: 0.5em;
}
.price_lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.9rem;
    /*border: 1px solid orangered;*/
    border-radius: 25px;
    background-color: var(--green);
    box-shadow: .1em .1em .9em 3px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}
.price_lower p{
    margin: 0.4em;
}
.price_lower p:nth-of-type(2){
    margin-bottom: 1em;
}
.price_lower button{
    margin: 0.5em;
    padding: 12px;
    width: 85%;
    border-radius: 8px;
    background-color: var(--black);
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.price_lower button:hover{
    opacity: 75%;
    background-color: #0e711c;
}
.price_lower p:nth-of-type(1),.price_lower p:nth-of-type(3){
    font-size: 16px;
}
.price_lower p:nth-of-type(2),.price_lower p:nth-of-type(4){
    font-weight: 500;
    color: aliceblue;
    font-size: 20px;
}
.price_higher p:nth-of-type(1), .price_higher p:nth-of-type(3){
    color: var(--green);
    font-size: 18px;
}
.price_higher p:nth-of-type(2){
    color: aliceblue;
    font-weight:700;
}

/* Highlights Section */

.highlights-container{
    position: relative;
    text-align: center;
    max-width: 1400px;
    margin: 3em auto;
}
.highlights_bottom{
    display: flex;
    margin-top: 3rem;
}
.highlights_bottom img{
    flex: 3;
    width: 50%;
}
.highlights-container .highlights{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    margin-left: 2.5rem;
}
.highlights-container .highlight{
    background-color: #61ce70;
    padding: 1em;
    margin: 0.5em;
    border-radius: 8px;
    font-size: 1.1em;
}
.highlights-container .highlight p{
    color: #0F0F0F;
}
.highlights-container .highlight p{
    color: #0F0F0F;
    font-weight: 600;
}
.highlights-container .heading-section{
    display: inline-block;
    background-color: #0F0F0F;
    border-radius: 8px;
    margin-bottom: 2%;
    padding: 2% 8%;
    box-shadow: 5px 10px 10px rgb(125, 125, 125);
}
.highlights-container .heading-section h1{
    color: #61ce70 ;
}

/* highlights Section Medium*/

.highlights-container-medium{
    position: relative;
    text-align: center;
    margin: 3em auto;
}
.highlights-wrap{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/highlights_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 2.5em;
}
.highlights-container-medium .highlights{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    margin:0 15%;
}
.highlights-container-medium .highlight{
    background-color: #61ce70;
    padding: 1em;
    margin: 0.5em;
    border-radius: 8px;
    font-size: 1.1em;
}
.highlights-container-medium .highlight p{
    color: white;
    font-weight: 900;
}
.highlights-container-medium .heading-section{
    display: inline-block;
    background-color: #0F0F0F;
    border-radius: 8px;
    margin-bottom: 5%;
    padding: 2% 4%;
    box-shadow: 5px 5px 5px rgb(125, 125, 125);
}
.highlights-container-medium .heading-section h1{
    color: #61ce70 ;
}

/* Ammenities Section */

.ammenities-section{
    text-align: center;
    margin: 3em auto;
}
.ammenities-container{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/amenity_img.jpg);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1%;
    margin-top: 3%;
}
.ammenities-build{
    background-color: #61ce70;
    margin: 10% 14%;
    padding: 2% 0%;
    text-align: center;
    box-shadow: 0px 0px 15px 10px #439e4f;
}
.ammenities-build h3{
    margin-top: 15px;
}
.ammenities-build:hover {
    cursor: pointer;
    transform: translate(0, -12px);
}
.ammenities-section .heading-section{
    display: inline-block;
    background-color: #0F0F0F;
    border-radius: 8px;
    margin-bottom: 2%;
    padding: 2% 8%;
    box-shadow: 5px 10px 10px rgb(125, 125, 125);
}
.ammenities-section .heading-section h1{
    color: #61ce70 ;
}

/*floor-plan*/

.floorplan_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em auto;
    padding: 0 2rem;
}
.fp_images{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}
.floorplan1{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.floorplan1 h3{
    margin-bottom: 1.8em;
}
.floorplan1 img{
    width: 80%;
    filter: blur(8px);
  -webkit-filter: blur(8px);
}
.floorplan1 button{
    padding: 12px;
    background-color: var(--green);
    border: none;
    border-radius: 4px;
    margin: 1.5em;
}
.floorplan_container h1{
    display: inline-block;
    background-color: var(--black);
    border-radius: 8px;
    margin-bottom: 4.5rem;
    padding: 2% 8%;
    box-shadow: 5px 10px 10px rgb(125, 125, 125);
    color: var(--green);
}

/* Connectivity Section */

.connectivity-container{
    margin: 3em auto;
    text-align: center;
}
.connectivity-container .heading-section{
    display: inline-block;
    background-color: #0F0F0F;
    border-radius: 8px;
    padding: 2% 8%;
    box-shadow: 5px 10px 10px rgb(125, 125, 125);
}
.connectivity-container .heading-section h1{
    color: #61ce70 ;
}
.connectivity-wrap{
    background-color: #61ce70;
    display: flex;
    margin-top: 5%;
    padding: 4% 0%;
}
.connectivity{
    margin: 1% 10%;
    text-align: left;
}
.connectivity-column1{
    line-height: 30px;
}
.connectivity-column1 h1{
    font-size: xx-large;
    font-weight: 800;
}
.connectivity-column1 h2{
    font-size: x-large;
    margin-bottom: 3%;
}
.connectivity-column2{
    margin-left: 2%;
    margin-top: 4%;
    line-height: 40px;
    letter-spacing: 1.2px;
}
.connectivity-column2 li{
    font-size: large;
    list-style-type: circle;
}
.connectivity-img img{
    height: 400px;
}

/* Gallery Section */

.gallery-container{
    text-align: center;
    margin: 3em auto;
}
.gallery-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.gallery-container .heading-section{
    display: inline-block;
    background-color: #0F0F0F;
    border-radius: 8px;
    margin-bottom: 5%;
    padding: 2% 8%;
    box-shadow: 5px 10px 10px rgb(125, 125, 125);
}
.gallery-container .heading-section h1{
    color: #61ce70;
}
.gallery-img img{
    border: 2px solid rgb(125, 125, 125);
}
#gallery-img-copy img{
    display: none;
}

/*footer*/

.contact{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: var(--green);
    margin: 3em 0em 0em 0em;
}
.contact_top{
    display: flex;
    justify-content: space-between;
    padding: 2rem;    
}
.contact_left{
    flex: 1;
}
.footer_form_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 2;
}
.footer_form_container form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.footer_form_container input{
    margin: 0.5em;
    padding: 0.7em;
    width: 60%;
    border-radius: 5px;
}
.footer_form_container button{
    padding: 0.5em;
    margin: 0.8em;
    width: 60%;
    background-color: var(--black);
    color: white;
    border-radius: 5px;
    font-size: 15px;

}
.contact_left h4{
    margin-bottom: 10px;
}
.contact_left p{
    margin: 7px;
}
.footer_form_container h4{
    margin-bottom: 10px;
}
.disclaimer{
    padding: 9px;
    font-size: 10px;
}

/* Media Queries */

/* Navbar Section*/
@media screen and (min-width:1400px) {
    .header p::after{
        content: "";
        display: block;
        height: 3.5px;
        transform: scaleX(0);
        background-color:black;
        transition: transform 300ms;
    }
    .header p:hover::after{
        transform: scaleX(1);
    }  
}
@media screen and (max-width:1400px) {
    .header{
        position: relative;
    }
    .header nav{
        position: absolute;
        display: block;
        top:99%;
        left:0;
        right: 0;
        z-index: 5;
        width: 100%;
        background-color: white;
    }
    .navbar-container{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header nav p:nth-child(1){
        border-top: 1px solid black;
    }
    .header nav p{
        display: block;
        text-align: center;
        padding: 0.8em;
        border-bottom: 1px solid black;
    }
    .header nav a:hover{
        color: darkblue;
    }
    #menu-btn{
        display: block;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 1.3em;
    }
    .open-menu{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@media screen and (max-width:1000px) {
    .header img{
        width: 18%;
    }
}
@media screen and (max-width:800px) {
    .header img{
        width: 20%;
    }
}

/* Welcome Section */
@media screen and (max-width:1200px) {
    .welcome-content{
        width: 90%;
    }
    .heading-container{
        font-size: 2vw;
    }
    .form-container{
        width: 45%;
    }
    .form-container input,.form-container button{
        padding: 0.7em;
        font-size: 1.45vw;
    }
}
@media screen and (max-width:900px) {
    .banner{
        height: 115vh;
    }
    .welcome-content{
        flex-direction: column;
        align-items: center;
        gap: 2.5em;
        margin-top: 5em;
    }
    .heading-container{
        margin-top: 2em;
        font-size: 2.3vw;
        text-align: center;
    }
    .form-container{
        width: 60%;
    }
    .form-container form{
        align-items: center;
    }
    .form-container input,.form-container button{
        padding: 0.8em;
        font-size: 1.8vw;
    }
    .form-container{
        margin-top: 0;
    }
}
@media screen and (max-width:700px) {
    .banner{
        height: 107vh;
    }
    .form-container{
        margin-top: 0;
    }
}
@media screen and (max-width:600px) {
    .banner{
        height: 110vh;
    }
    .heading-container{
        font-size: 2.8vw;
        text-align: center;
    }
    .form-container{
        margin-top: 0;
    }
}
@media screen and (max-width:580px) {
    .heading-container{
        font-size: 3.4vw;
        text-align: center;
    }
    .form-container{
        width: 80%;
        margin-top: 0;
    }
    .form-container form{
        align-items: center;
    }
    .form-container input,.form-container button{
        padding: 1em;
        font-size: 2vw;
    }
}
/* Form Popup Section */
@media screen and (max-width:1300px) {
    .form-popup .form-content{
        width:80%;
        position: relative;
    }
    .close-modal{
        position: absolute;
        top:0;
        right: 0;
    }
    .form-heading form input,.form-heading form button{
        padding: 0.6em;
        font-size: 1.45vw;
    }
    .form-heading p{
        font-size: 1.4em;
    }
}
@media screen and (max-width:1000px) {
    .form-heading form input,.form-heading form button{
        padding: 0.75em;
        font-size: 1.75vw;
    }
    .form-heading p{
        font-size: 1.3em;
    }
}
@media screen and (max-width:800px) {
    .form-popup .form-content{
        width:95%;
        position: relative;
    }
    .form-content img{
        height: 60vh;
    }
    .form-heading form input,.form-heading form button{
        font-size: 1.95vw;
    }
    .form-heading{
        margin-top: 2.5em;
    }
}
@media screen and (max-width:500px) {
    .form-heading form input,.form-heading form button{
        font-size: 3.5vw;
    }
    .form-content img{
        display: none;
    }
    .form-popup .form-content{
        padding: 1em;
        margin: 4em auto;
    }
    .form-content{
        grid-template-columns: 1fr;
    }
}

/* Overview Section */
@media screen and (max-width:1100px) {
    .overview-wrap img{
        width: 380px;
    }
}

@media screen and (max-width:900px){
    .overview-wrap{
        flex-wrap: wrap;
    }
    .overview-wrap img{
        margin: auto;
        width: 85%;
    }
    .overview-container .heading-section{
        display: inline-block;
        background-color: #0F0F0F;
        border-radius: 8px;
        margin-bottom: 8%;
        padding: 2% 4%;
        box-shadow: 5px 5px 5px rgb(125, 125, 125);
    }
}

/*price media-queries*/

@media only screen and (min-width:250px) and (max-width:750px){
    .price_item{
        width: 85%;
    }
    .price_lower p:nth-of-type(2),.price_lower p:nth-of-type(4){
        
        font-size: 15px;
    }
    .price_lower p:nth-of-type(1),.price_lower p:nth-of-type(3){
        font-size: 12px;
    }
}

/* Highlights Section */

@media screen and (max-width:1000px) {
    .highlights-container{
    display: none;
}
.highlights-container-medium{
    display: block;
}
    .highlights-container-medium .highlights{
        margin: 0 8%;
    }
}
@media screen and (max-width:800px){
    .highlights-container-medium .highlights{
        margin: 0 3%;
    }
}
@media screen and (min-width:1000px){
    .highlights-container-medium{
        display: none;
    }
    .highlights-container{
        display: block;
    }
}

/* Ammenities Section */

@media screen and (max-width:700px){
    .ammenities-container{
        padding: 4% 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .ammenities-build{
        margin: 4% 8%;
        background-color: #61ce70;
        box-shadow: 0px 0px 10px 5px #439e4f;
    }
    .ammenities-build:hover {
        cursor: pointer;
        transform: translate(0, -8px);
    }
}
@media screen and (min-width:700px) and (max-width:1100px){
    .ammenities-build{
        margin: 8% 10%;
        padding: 4%;
        background-color: #61ce70;
        box-shadow: 0px 0px 10px 5px #439e4f;
    }
    .ammenities-build:hover {
        cursor: pointer;
        transform: translate(0, -8px);
    }
}
@media screen and (max-width:1000px){
    .ammenities-section .heading-section{
        display: inline-block;
        background-color: #0F0F0F;
        border-radius: 8px;
        padding: 2% 4%;
        box-shadow: 5px 5px 5px rgb(125, 125, 125);
    }
}

/*floorplan media queries*/

@media only screen and (min-width:250px) and (max-width:750px){
    .fp_images{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .floorplan1 h4{
        margin: 1em;
    }

    .floorplan1 button{
        margin: 1.5em;
    }
}

/* Connectivity Section */

@media screen and (max-width:650px){
    .connectivity-wrap{
        flex-direction: column;
    }
    .connectivity{
        margin: 2% 8%;
        text-align: left;
    }
    .connectivity-column1 h1{
        font-size: x-large;
        font-weight: 700;
    }
    .connectivity-column1 h2{
        font-size: large;
        margin-bottom: 3%;
    }
    .connectivity-column2{
        line-height: 30px;
        letter-spacing: 1px;
    }
    .connectivity-column2 li{
        font-size: small;
        list-style-type: circle;
    }
    .connectivity-img img{
        margin: 4% 0%;
        height: 350px;
    }
}
@media screen and (min-width:650px) and (max-width:900px){
    .connectivity-wrap{
        flex-direction: column;
    }
    .connectivity{
        margin: 2% 8%;
    }
    .connectivity-column1 h1{
        font-size: xx-large;
        font-weight: 550;
    }
    .connectivity-column1 h2{
        font-size: x-large;
        margin-bottom: 3%;
    }
    .connectivity-column2{
        line-height: 30px;
        letter-spacing: 1px;
    }
    .connectivity-column2 li{
        font-size: medium;
        list-style-type: circle;
    }
    .connectivity-img img{
        margin: 4% 0%;
        height: 450px;
        width: 600px;
    }
}
@media screen and (min-width:900px) and (max-width:1350px){
    .connectivity{
        margin: 0% 8% 0% 0;
        text-align: left;
    }
    .connectivity-wrap{
    align-items: center;
    justify-content: center;
    }
    .connectivity-column1 h1{
        font-size: x-large;
        font-weight: 600;
    }
    .connectivity-column1 h2{
        font-size: large;
        margin-bottom: 2%;
    }
    .connectivity-column2{
        line-height: 30px;
        letter-spacing: 1px;
    }
    .connectivity-column2 li{
        font-size: medium;
        list-style-type: circle;
    }
    .connectivity-img img{
        margin: 5% 0%;
        height: 300px;
        width: 300px;
    }
}
@media screen and (max-width:1000px){
    .connectivity-container .heading-section{
        display: inline-block;
        background-color: #0F0F0F;
        border-radius: 8px;
        padding: 2% 4%;
        box-shadow: 5px 5px 5px rgb(125, 125, 125);
    }
}

/* Gallery Section */

@media screen and (max-width:1000px){
    .gallery-container .heading-section{
        display: inline-block;
        background-color: #0F0F0F;
        border-radius: 8px;
        padding: 2% 4%;
        box-shadow: 5px 5px 5px rgb(125, 125, 125);
    }
}
@media screen and (max-width:600px){
    .gallery-wrap{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
    }
}
@media screen and (min-width:600px) and (max-width:700px){
    .gallery-wrap{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
    .gallery-container{
        margin: 5%;
    }
    .gallery-img img{
        width: 250px;
    }
}
@media screen and (min-width:700px) and (max-width:850px){
    .gallery-img img{
        width: 150px;
    }
}
@media screen and (min-width:850px) and (max-width:1000px){
    .gallery-wrap{
        grid-gap: 2px;
    }
    .gallery-img img{
        width: 200px;
    }
}
@media screen and (min-width:1000px) and (max-width:1200px){
    .gallery-wrap{
        grid-gap: 5px;
    }
    .gallery-img img{
        width: 200px;
    }
}
@media screen and (min-width:1200px) and (max-width:1300px){
    .gallery-wrap{
        grid-gap: 3px;
    }
    .gallery-img img{
        width: 250px;
    }
}
@media screen and (min-width:1300px) and (max-width:1500px){
    .gallery-img img{
        width: 300px;
    }
}

/*footer media queries*/

@media only screen and (min-width:250px) and (max-width:750px) {
    .contact_top{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
    }
    .contact{
     display: flex;
     flex-direction: column;
    }
    .footer_form_container{
     display: flex;
     flex-direction: column;
    }
    .contact_left{
     margin-bottom: 15px;
    }
 }